html,
body {
    margin: 0;
    min-height: 100vh;
    font-family: Helvetica, Arial, sans-serif;

}

html {
    -webkit-overflow-scrolling: auto;
    overflow: auto;
}

body{
    min-height: auto;
    background-image: linear-gradient(to bottom right, blue, white);
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: content-box;
}